@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.phone{
	position:center;
	padding-left:390px;
	padding-top:190px;
	color:white;
}

.no{
	padding-left:560px;
	padding-top:-190px;
	color:white;
}

body 
{
   font-family: Arial, Helvetica, sans-serif;
   background:url(realbrick.jpg) no-repeat;
   background-size: 1360px 640px;
   background-attachment:fixed;
   
}
/*.navbar {
  overflow: hidden;
  background-color: #333;
}*/
