@charset "ISO-8859-1";
@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  background-color:#ff8a05;/*yellow;#257d25;*/
  color:black;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
}
.navbar a:hover {/*scrollcolour*/
  background-color:white;/* #257d25;/*#ddd;*/
}


.dropdown {
  float: left;
  overflow: hidden;
}
.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color:#ff8a05;/* #257d25;*/
  font-family: inherit;
  margin: 0;
}
.dropdown-content {/*textbackground*/
  display: none;
  position: absolute;
  background-color: white;/*#f9f9f9;*/
  min-width: 30px;/*width of levels*/
  box-shadow:white;
  z-index: 1; 
}
.dropdown-content a {/*text levelshow*/
  float: center;
  color: black;
  padding: 14px 13px;/* 20px;*/
  text-decoration: none;
  display: block;
  text-align: left;
  
}
.dropdown-content a:hover {/*scrollcolour*/
  background-color:#ff8a05;/*#a4aba442; #257d25;/*#ddd;*/
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {background-color: white;
}

.career {
  float: left;
  overflow: hidden;
}
.careerbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color:#ff8a05;/* #257d25;*/
  font-family: inherit;
  margin: 0;
}
.career-content {/*textbackground*/
  display: none;
  position: absolute;
  background-color: white;/*#f9f9f9;*/
  min-width: 30px;/*width of levels*/
  box-shadow:white;
  z-index: 1; 
}
.career-content a {/*text levelshow*/
  float: center;
  color: black;
  padding: 14px 19.5px;/* 20px;*/
  text-decoration: none;
  display: block;
  text-align: left;
  
}
.career-content a:hover {/*scrollcolour*/
  background-color:#ff8a05;/*#a4aba442; #257d25;/*#ddd;*/
}
.career:hover .career-content {
  display: block;
}
.career:hover .careerbtn {background-color: white;
}


.con a{
	background-color: #ff8a05;
	display:block;
	/*margin-left:5px;*/
    padding: 14px 16px;
	float: left;
	color:black;
  font-size: 16px;
  text-decoration: none;
}
.con a:hover {/*scrollcolour*/
  background-color:white;/* #257d25;/*#ddd;*/
}
.space{
	padding:23px;/* 1px;*/
	background-color: #ff8a05;
	margin-left:5px;
	margin-right:81px;
}
.log a{
	background-color: #ff8a05;
	display:block;
	/*padding-left:50px;*/
	margin-top:-46px;
    padding: 14px 16px;
	float: right;
	/*float:top;*/
	color:black;
  font-size: 16px;
  text-decoration: none;
}
.log a:hover{
	background-color:white;/* #257d25;/*#ddd;*/
}




